#hud {
  color: white;
  transition: opacity 250ms ease;
  width: 808px;
  height: 804px;
}


/* SECTIONS  */

#hud #sections {
  position: relative;
  margin: 0;
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}

#hud .section {
  color: black;
  font-size: 28px;
  height: 72px;
  margin-right: 52px;
  display: inline-block;
  opacity: 0.5;
}

#hud .section.selected {
  opacity: 1;
}

#hud #sections .section:last-child {
  margin-right: 0px;
}



/* SCROLLBAR  */

#scrollbar {
  background-image: url('../../images/scrollbar.png');
  width: 360px;
  height: 8px;
  position: absolute;
  top: 460px;
  left: 50%;
  transform: translateX(-50%);
}



/* LINKS  */

#hud #links {
  width: 768px;
  height: 516px;
  padding: 0;
  margin: 0;
  list-style: none;
}

#hud #links .button {
  padding: 0;
  margin: 0 24px 24px 0;
  width: 240px;
  height: 156px;
  background-color: #4B525B;
  border-radius: 8px;
  display: block;
  float: left;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  background-repeat: no-repeat;
  background-size: 120px 120px;
  background-position: center;
}

#hud #links .button:nth-child(3), #hud #links .button:nth-child(6), #hud #links .button:nth-child(9) {
  margin-right: 0;
}

#hud #links .daringfireball {
  background-color: #4B525B;
  background-image: url('most-visited/daringfireball.png');
}

#hud #links .gawker {
  background-color: #D6483A;
  background-image: url('most-visited/gawker.png');
}

#hud #links .io9 {
  background-color: #B684AD;
  background-image: url('most-visited/io9.png');
}

#hud #links .dribbble {
  background-color: #A54A6B;
  background-image: url('most-visited/dribbble.png');
}

#hud #links .parislemon {
  background-color: #EAD265;
  background-image: url('most-visited/parislemon.png');
}

#hud #links .vimeo {
  background-color: #2DADEF;
  background-image: url('most-visited/vimeo.png');
}

#hud #links .aframe {
  background-color: #24caff;
  background-image: url('most-visited/aframe.png');
}

#hud #links .flickr {
  background-color: #fff;
  background-image: url('most-visited/flickr.png');
}

#hud #links .ars { /*a-frame*/
  background-color: #FB6100;
  background-image: url('most-visited/ars.png');
}

#hud #links .button:hover {

}



/* BOTTOM ROUND BUTTONS  */

#bottom-buttons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.roundButton {
  width: 104px;
  height: 144px;
  margin-right: 18px;
  float: left;
  text-align: center;
  display: block;
}

.roundButton:last-child {
  margin-right: 0;
}

.roundButton .button {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  width: 104px;
  height: 104px;
  background-color: #EEEEEE;
  opacity: 0.8;
  transition: opacity 0.15s ease-in-out;
}

.roundButton .caption {
  color: white;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  margin-top: 8px;
}

.roundButton:hover .button {
  opacity: 0.9;
}

.roundButton:hover .caption {
  opacity: 1;
}

#bottom-buttons #back .button {
  background-image: url(../../images/back.svg);
  background-size: 65%;
}

#bottom-buttons #tabs .button {
  font-weight: 500;
  position: relative;
  font-size: 42px;
  color: #535353;
  padding-top: 22px;
  box-sizing: border-box;
}

#bottom-buttons #reload .button {
  background-image: url(../../images/reload.svg);
}

#bottom-buttons #overflow .button {
  background-image: url(../../images/overflow.svg);
  background-size: 45%;
}